In [1]:
# function

In [6]:
def my_func(param) :
    print(param)

In [11]:
my_func(11)

11

In [12]:
def my_func(param = 'default') :
    print(param)

In [13]:
my_func()

default

In [14]:
my_func('long')

long

In [15]:
def my_func(param = 'default') :
    '''
    docstring goes here
    
    '''
    print param

In [16]:
my_func('long')

long

In [17]:
def my_func(args) :
    '''
    docstring goes here
    
    '''
    return args * 5

In [18]:
g = my_func(5)
print(g)

25

In [23]:
def two_times(var) :
    return var * 2

In [ ]:
lambda var : var*2    # def -> lambda, 함수명 삭제, 리턴 삭제

In [24]:
 seq = [1,2,3,4,5]

In [25]:
list(map(two_times, seq))

[2, 4, 6, 8, 10]

In [26]:
map() # shift + tab 도움말

map

In [27]:
list(map(lambda var : var*2 , seq))

[2, 4, 6, 8, 10]

In [28]:
def is_even(num) :
    return num % 2 == 0

In [29]:
list(filter(is_even, seq))   # 결과가 ture인 것만 보여준다

[2, 4]

In [30]:
list(filter(lambda num : num % 2 == 0, seq))

[2, 4]

In [31]:
# Method
st = 'Hello My Name is'
st.upper()

'HELLO MY NAME IS'

In [32]:
st.lower()

'hello my name is'

In [33]:
tweet = 'Go Sports! #cool'

In [34]:
tweet.split('#')

['Go Sports! ', 'cool']

In [35]:
tweet.split('#')[1]

'cool'

In [36]:
tweet.    #. + tab

SyntaxError: invalid syntax (<ipython-input-36-3d656aa0f77c>, line 1)

In [38]:
d = {'key1':10,'key2' : 'second item'}

In [40]:
d.items()  # items() takes no arguments (1 given)

dict_items([('key1', 10), ('key2', 'second item')])

In [42]:
my_list = [1,2,3]
my_list.append(4)
my_list

[1, 2, 3, 4]

In [43]:
my_list.pop()

4

In [44]:
my_list.pop(0)

1

In [45]:
my_list

[2, 3]

In [46]:
1 in my_list

False

In [47]:
2 in my_list

True