In [4]:
5 % 3 # 나머지를 반환

2

In [3]:
5 // 3 # 몫을 반환

1

In [5]:
'single quote' #''

'single quote'

In [6]:
"double quote" #""

'double quote'

In [7]:
"I don't care" # "", '' 겹치지 않게 활용

"I don't care"

In [8]:
name = "Kim"

In [10]:
print("Hello, I'm %s"%name) # %s는 문자열을 받고 %d는 숫자열을 받고

Hello, I'm Kim

In [11]:
age = 40

In [12]:
print("Hello, My name is %s, and I'm %d years old"% (name, age))

Hello, My name is Kim, and I'm 40 years old

In [13]:
# list
['Hi', 0, 1]

['Hi', 0, 1]

In [17]:
my_list = [1,2,3]
my_list.append(4)
my_list

[1, 2, 3, 4]

In [18]:
my_list[0]

1

In [19]:
my_list[-1]

4

In [20]:
my_list[0:2]

[1, 2]

In [21]:
my_list[:2]

[1, 2]

In [22]:
my_list[2:]

[3, 4]

In [23]:
nested = [1,2,['a','b']]

In [24]:
nested[2]

['a', 'b']

In [25]:
nested[2][1]

'b'

In [26]:
# dictionary
d = {'key1':10,'key2' : 'second item'}

In [27]:
d['key1']

10

In [31]:
d['key2']

'second item'

In [36]:
# tuple : 수정 불가
t = (1,2,3)
t[0]

1

In [34]:
my_list = [1,2,3]
my_list[0]

1

In [37]:
type(t[0])

int

In [38]:
type(my_list[0])

int

In [39]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [41]:
my_list[0] = 'New'
my_list

['New', 2, 3]

In [42]:
#set
{1,2,3}

{1, 2, 3}

In [43]:
{1,2,2,3,3,4,4,4,4,5,5} # 집합에서 중복 없다

{1, 2, 3, 4, 5}

In [44]:
import math

In [46]:
math.pi

3.141592653589793