In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [4]:
from numpy.random import randn # 아래에서 randn 기능을 사용하기 위해서 미리 불러온다

In [5]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z']) # 데이터, 행 이름(인덱스), 열 이름

In [6]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [7]:
df > 0

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True

In [12]:
booldf = df > 0
booldf

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True

In [13]:
df[booldf]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [14]:
df[df > 0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [16]:
df['w'] > 0

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [17]:
df[df['w']>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [19]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [20]:
df[df['z'] < 0]

          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

In [21]:
resultdf = df[df['w']>0]

In [22]:
resultdf['x']

a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [23]:
df[df['w']>0]['x']

a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [28]:
df[df['w']>0][['y','x']]

          y         x
a  0.907969  0.628133
b -0.848077 -0.319318
d -0.933237 -0.758872
e  2.605967  1.978757

In [32]:
boolser = df['w'] > 0
result = df[boolser]
cols = ['y','x']
result[cols]

          y         x
a  0.907969  0.628133
b -0.848077 -0.319318
d -0.933237 -0.758872
e  2.605967  1.978757

In [34]:
df[(df['w'] > 0) & (df['y'] > 1)]  # and, or 는 single boolean만 취급 가능, 복수의 boolean 시리즈 비교할 때는 &, |

          w         x         y         z
e  0.190794  1.978757  2.605967  0.683509

In [35]:
df[(df['w'] > 0) | (df['y'] > 1)]  # or

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [36]:
df.reset_index()  # 인덱스를 별개의 열로

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

In [41]:
newind = 'ca ny wy or co'.split()
newind

['ca', 'ny', 'wy', 'or', 'co']

In [42]:
df['states'] = newind
df

          w         x         y         z states
a  2.706850  0.628133  0.907969  0.503826     ca
b  0.651118 -0.319318 -0.848077  0.605965     ny
c -2.018168  0.740122  0.528813 -0.589001     wy
d  0.188695 -0.758872 -0.933237  0.955057     or
e  0.190794  1.978757  2.605967  0.683509     co

In [58]:
df1 = df.set_index('states')
df1

               w         x         y         z
states
ca      2.706850  0.628133  0.907969  0.503826
ny      0.651118 -0.319318 -0.848077  0.605965
wy     -2.018168  0.740122  0.528813 -0.589001
or      0.188695 -0.758872 -0.933237  0.955057
co      0.190794  1.978757  2.605967  0.683509

In [65]:
df1['x']

states
ca    0.628133
ny   -0.319318
wy    0.740122
or   -0.758872
co    1.978757
Name: x, dtype: float64

In [66]:
df1['x']['or']

-0.758872056210466

In [67]:
df1.loc['ca']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: ca, dtype: float64

In [68]:
df1.iloc[0][1]

0.6281327087844596