In [1]:
import numpy as np
import pandas as pd

In [7]:
from numpy.random import randn

In [3]:
outside = ['g1','g1','g1','g2','g2','g2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))  
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
list(zip(outside,inside))

[('g1', 1), ('g1', 2), ('g1', 3), ('g2', 1), ('g2', 2), ('g2', 3)]

In [4]:
hier_index

MultiIndex(levels=[['g1', 'g2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
df = pd.DataFrame(randn(6,2),hier_index,['a','b']) # 데이터, 행 이름(인덱스), 열 이름
df

             a         b
g1 1  0.218336 -0.567623
   2 -0.421175  1.531647
   3 -0.804200 -0.237811
g2 1  0.303392 -0.339282
   2  0.362529  1.581186
   3  0.392056 -0.159795

In [10]:
df.loc['g1']

          a         b
1  0.218336 -0.567623
2 -0.421175  1.531647
3 -0.804200 -0.237811

In [14]:
df.loc['g1'].loc[1] # 인덱스 이름이 1

a    0.218336
b   -0.567623
Name: 1, dtype: float64

In [15]:
df.loc['g1'].iloc[0] # 인덱싱 위치가 0행

a    0.218336
b   -0.567623
Name: 1, dtype: float64

In [16]:
df.index.names

FrozenList([None, None])

In [17]:
df.index.names = ['groups','num']

In [18]:
df

                   a         b
groups num
g1     1    0.218336 -0.567623
       2   -0.421175  1.531647
       3   -0.804200 -0.237811
g2     1    0.303392 -0.339282
       2    0.362529  1.581186
       3    0.392056 -0.159795

In [19]:
df.loc['g2'].loc[2]

a    0.362529
b    1.581186
Name: 2, dtype: float64

In [20]:
df.loc['g2'].loc[2]['b']

1.5811864892072631

In [22]:
df.xs

<bound method NDFrame.xs of                    a         b
groups num
g1     1    0.218336 -0.567623
       2   -0.421175  1.531647
       3   -0.804200 -0.237811
g2     1    0.303392 -0.339282
       2    0.362529  1.581186
       3    0.392056 -0.159795>

In [23]:
df.loc['g1']

            a         b
num
1    0.218336 -0.567623
2   -0.421175  1.531647
3   -0.804200 -0.237811

In [24]:
df.xs('g1')

            a         b
num
1    0.218336 -0.567623
2   -0.421175  1.531647
3   -0.804200 -0.237811

In [27]:
df.xs(1,level='num')

               a         b
groups
g1      0.218336 -0.567623
g2      0.303392 -0.339282

In [30]:
df['a']

groups  num
g1      1      0.218336
        2     -0.421175
        3     -0.804200
g2      1      0.303392
        2      0.362529
        3      0.392056
Name: a, dtype: float64