In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z']) # 데이터, 행 이름(인덱스), 열 이름

In [6]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [9]:
df['w'] # 열 불러오기

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [10]:
type(df['w'])

pandas.core.series.Series

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.w # 메소드가 많기 때문에 명칭 혼돈 올수 있다

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [13]:
df.w.a

2.706849839399938

In [15]:
df['w']['a']  # 행만 불러올수 없고 열 불러오고 행 같이 불러온다

2.706849839399938

In [14]:
df[['w','z']]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [16]:
df['new'] = df['w'] + df['y']

In [17]:
df['new']

a    3.614819
b   -0.196959
c   -1.489355
d   -0.744542
e    2.796762
Name: new, dtype: float64

In [18]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [22]:
df.drop('new',axis=1,inplace=True) # inplace=True 영구적으로

In [26]:
df.drop('e', axis=0)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [27]:
df # inplace=True로 삭제한 new 컬럼은 완전히 삭제되었다, e행은 남아있다

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [28]:
df.shape

(5, 4)

In [29]:
df[['z','x']]

          z         x
a  0.503826  0.628133
b  0.605965 -0.319318
c -0.589001  0.740122
d  0.955057 -0.758872
e  0.683509  1.978757

In [30]:
df.loc['a'] # 행을 레이블 이름으로 불러올때 .loc + 행 레이블

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [33]:
df.iloc[0]   # 행을 인덱싱으로 불러올때 .iloc + 행 번호

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [34]:
df.loc['b','y'] #.loc 행, 열

-0.8480769834036315

In [35]:
df.loc[['a','b'],['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077